<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeamManagement | Create team</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <form action="/createteam" method="POST" id="createteamform">
        <label class="text" for="teamname">Team Name: </label></br>
        <input class="spacing" type="text" name="teamname" id="teamname"/></br>
        <button class="submitbut">Create Team</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert">
        <h2 class="text">{{ messages[0] }}</h2>
    </div>
    {% endif %}
    {% endwith %}
</body>
</html>